{
  "presets": [
    "flow",
    [
      "env",
      {
        "targets": { "node": "8" },
        "useBuiltins": true,
        "modules": "commonjs"
      }
    ]
  ],
  "plugins": [
    "transform-class-properties"
  ]
}
